/**
 * @name betterusertags
 * @author nvhhr
 * @description better bot/staff tags and newleaf replacement
*/

/*bot/usertags*/
[class^=botTagCompact_], /*we don't want these in reply previews*/
[class^=newMemberBadge_] /*let's replace newleaf icon*/
 { display: none; }
[id^=message-username-]:has([class^=newMemberBadge_])::after,
[class*=botTag_]:not([class^=nitroBadge])
 { color: black;
   font: bold italic calc(var(--nvfontsize) * .8) var(--font-primary);
   text-transform: uppercase;
   text-shadow: none;
   margin-left: 1ch;
   padding: 1px 1ch 0;
   border-radius: 1em;
   height: 1rem; }
[id^=message-username-]:has([class^=newMemberBadge_])::after
 { content: "new";
   background: oklch(.8 .1 160);
   padding: 0 1ch !important; }
