/**
 * @name bordercleanup
 * @author nvhhr
 * @description discords without borders, for a cleaner look
*/

:root,
.theme-dark,
.theme-light
 { --app-border-frame: transparent !important;
   --border-subtle: transparent !important;
   --border-faint: transparent !important;
   --divider-subtle: transparent !important;
   --background-modifier-accent: transparent !important; }
