/*dashless*/
@font-face
 { font-family: "Twemoji Mozilla";
   src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf") format("truetype");
   unicode-range: U+1F1E6-1F1FF; }
@font-face
 { font-family: "dashless";
   size-adjust: 200%; /*adjust this to change word spacing*/
   src: url("https://vendicated.github.io/random-files/Dashless.woff2") format("woff2");
   unicode-range: U+002D; }
[data-list-item-id^=channels___]:not([role=button]), /* channel list */
[class^=titleWrapper] > h1, /* top bar with topic */
[class^=titleWrapper] > h2, /* top bar in thread view */
[id^=":r"] > h1, /* topic popup */
[class^=resultChannel], [class^=channelNameContainer_], [class^=searchAnswer_], /* search */
[class^=autocompleteRowContent_] [class*=autocompleteRowHeading_], /* chat autocomplete */
.channelWithIcon, /* channel mentions in chat */
[class^=emptyChannelIcon_] + h3, /* start of new channel */
[class^=emptyChannelIcon_] ~ [class*=description_],
[class^=browser_] [class*=channelText_], /* channel browser*/
[class^=returnButton_] [class^=text-], /*return button in channel browser*/
[class^=placeholder][class*=slateTextArea], /* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong, /* audit log */
.vc-permviewer-perms-title, /* permissionsviewer */
[class^=headerChannelContainer_] > div, /* invite to channel dialog */
[class^=uploadDropModal_] strong, /* file drag upload */
[class^=channelNameSpan_], /* inbox */
[class^=quickswitcher_] [class^=name_]
 { font-family: "Twemoji Mozilla", "dashless", var(--font-primary); }
[class^=emptyChannelIcon_] ~ [class*=description_] > *
 { font-family: var(--font-primary); }