/**
 * @name fontreplace
 * @author nvhhr
 * @description override fonts and fontsize
*/

/*
If you want to use an online font instead of one installed locally on your system, you have to import it.
Best way is to use google fonts. Press 'get font' > 'get embed code' > import and replace this line with your font.
To use multiple fonts, add multiple imports.
The imported CSS file contains a whole bunch of @font-face rules that map all available variants of the fonts so all font-weights and styles are properly applied.
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*
these are the default fonts as of april 2024:
--font-primary: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
--font-display: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
--font-headline: 'ABC Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
--font-code: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
*/

:root
 { --font-primary: "Roboto Mono"; /* main font */
   --font-display: "Roboto Mono"; /* channellist categories and some other places */
   --font-headline: "Roboto Mono"; /* headlines, big texts like like in the nitro settings */
   --font-code: "Roboto Mono"; /* code blocks */
   --nvfontsize: 12px; } /* font size override, because sometimes changing it in discord settings isn't ideal */

/* we want to force the fontsize for a bunch of elements */
html,
[class*=heading-md],
[class*=text],
[class*=input_],
[class^=topic_],
[class^=name_],
[class*=item_],
[class*=description_],
[class*=tooltip_]
 { font-size: var(--nvfontsize) !important; }
