/**
 * @name modalsettings
 * @author nvhhr
 * @description modal settings window
*/

[class^=standardSidebarView_]
 { top: 0 !important;
   backdrop-filter: blur(20px);
   background: oklch(.3 0 0deg / .3) !important; }
[class^=layer_] + [class^=layer_]:has([class^=standardSidebarView_])
 { border-radius: var(--radius-md);
   box-shadow: var(--shadow-high);
   border: 1px solid var(--border-strong);
   width: 1100px;
   height: 80vh;
   margin: auto;
   padding: 0;
   transform: unset; }

/* keep view under settings */
#app-mount [class*=baseLayer_] 
 { opacity: 1 !important; 
   transform: unset; }

/* fix closing delay */
[class^=layer_][aria-hidden="false"] + [class^=layer_][aria-hidden="false"]
 { display: none; } 
[class^=layers_]> [class^=layer_][class*=animating_]
 { will-change: unset; }
