/**
 * @name nocaption
 * @author nvhhr
 * @description remove caption / titlebar (+ tweaks)
*/

/*remove window title*/
[class^=wordmarkWindows_]
 { display: none; }
/*adjust window buttons*/
[class^=winButton]
 { height: 30px;
   top: -30px;
   right: -5px; }
[class^=winButtonClose_]
 { padding: 0 6px; }
/*create drag area*/
[class^=typeWindows_]
 { height: 15px;
   top: 30px;
   margin: 0;
   position:fixed;
   right: 5px;
   width: 80px;
   background: repeating-linear-gradient(315deg, transparent, oklch(0 0 0 /.1) 3px, transparent 6px);
   border-radius: 5px; }
/*make space for captionbuttons*/
[class^=chat_]:not([class*=threadSidebarOpen_]) > [class^=subtitleContainer_],
[class*=threadSidebarOpen_] ~ [class^=container_] > [class^=container_]
 { width: calc(100% - 80px); }
/*fix search*/
[class^=toolbar_] > [class^=search_] > :not([class*=open_]) > [class^=searchBar_]
 { width: 25px;
   background: transparent; }
[class^=toolbar_] > [class^=search_]
 { margin: 0;
   order: -1; }
/*toolbarbuttons*/
[class^=toolbar_] > *
 { margin: 0 2px !important; }
[class^=children_] > [class^= iconWrapper_]
 { margin-left: 0; }
