/**
 * @name pingedserversfirst
 * @author nvhhr
 * @description move pinged servers and folders to top of serverlist
*/

[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label], /*serverlist*/
[id^=folder-items-] /*folder*/
 { display: flex; /*order property needs flex*/
   flex-direction: column; } /*fix layout*/

/*find servers and folders that have a number badge and force them up*/
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_])
 { order: -1; }

/*
selective use instructions:

to use as a whitelist, do this:
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_]):has([data-dnd-name*="ServerName Here"]),
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_]):has([data-dnd-name*="Another Server"]),
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_]):has([data-dnd-name*="Et cetera"])
 { order: -1; }

another solution, to survive server name changes or when you have servers which contain name of other server,
you can use server IDs, but this will not work with folders.
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_]):has([data-list-item-id="guildsnav___1015060230222131221"])

to exclude servers:
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_]):has([data-dnd-name*="ServerName Here"]),
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_]):has([data-dnd-name*="Another Server"]),
[data-list-id="guildsnav"] > [class^=scroller_] > [aria-label] :is([class^=listItem_],[class^=wrapper_]):has([class^=numberBadge_]):has([data-dnd-name*="Et cetera"])
 { order: 0; }
*/
