/**
 * @name randomfixes
 * @author nvhhr
 * @description a random collection of small fixes
*/

/* fix size/spacing of message header icons */
.vc-platform-indicator,
[class^=nitroBadgeSvg_]
 { height: 1rem; }
[class^=roleIcon_]
 { margin-left: 1ch; }

/*make spotify embeds wider*/
[class^=embedSpotify_]
 { width: 600px !important; }

/*decor go away on hover*/
[class^=avatar_]:hover + [class^=avatarDecoration_],
[class^=avatar_]:hover [class^=avatarDecoration_]
 { opacity: 0 !important; }
[class^=avatarDecoration_]
 { transition: .3s opacity; }

/* make profile text scrollable / need to rewrite for new profile popup
[class*=lineClamp2Plus_]
 { overflow-y: auto !important; 
  scrollbar-color: oklch(1 0 0 /.3) transparent !important;
  scrollbar-width: thin !important; } */

/* fix numbered lists */
[class^=markup_] ol
 { margin-left: calc(2ch + var(--totalCharacters) * 1ch) !important; }

/* improved avatar picker */
[class^=overlayAvatar_]
 { --xhairwidth: 2px;
   box-shadow: none;
   border-width: 2px;
   &::before, &::after
    { content: "";
      background-color: oklch(0 0 0 /.001);
      position: absolute;
      backdrop-filter: invert(1); }
   &::before
    { height: 100%;
      width: var(--xhairwidth);
      left: calc(50% - (var(--xhairwidth)/2)); }
   &::after
    { width: 100%;
      height: var(--xhairwidth);
      top: calc(50% - (var(--xhairwidth)/2)); }}

/* remove backgrounds in VC, always show names */
[class^=callContainer_]
 { background: none !important; }
[class*=overlayTitle_]
 { opacity: 1 !important; }

/* show usernames in friendlist */
[class*=discriminator_]
 { visibility: visible;
   &::before { content: "("; }
   &::after { content: ")"; }}

/* show usernames in channel activity popup */
[class^=channelActivityContainer_] [class^=avatarContainer_] > div::after
 { content: attr(aria-label);
   color: var(--text-normal);
   position: absolute;
   margin: 7px; } /*improve this maybe?*/
