/**
 * @name squareicons
 * @author nvhhr
 * @description reduce border-radii
*/

:root
 { --nviconradius: 2px; }

[class*=avatar_],
[class^=replyAvatar_],
[class^=embedAuthorIcon_],
[class^=wrapperSimple_],
foreignObject[mask*="url(#"]
 { border-radius: var(--nviconradius) !important; }
foreignObject[mask*="url(#"]
 { mask: none !important; }
