/**
 * @name squareicons
 * @author nvhhr
 * @description square avatar/servericons
*/

:root
 { --nviconradius: 5%; } /*percentage works best*/

[class*=avatar_],
[class^=replyAvatar_],
[class^=embedAuthorIcon_],
[class^=wrapperSimple_],
foreignObject[mask*="url(#"]
 { border-radius: var(--nviconradius) !important; }
foreignObject[mask*="url(#"]
 { mask: none !important; }
